//- generate relative path

- relRoot = current.path.filter(function(p) { return p !== current.source }).map(function(p) { return '../' }).join('')
- relRoot = relRoot === '' ? './' : relRoot
- current.relRoot = relRoot

html
  head
    title #{ title }
    meta(name='description',content='#{ description }')
    meta(name='keywords',content='#{ keywords }')
    // Latest compiled and minified CSS
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
      integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
      crossorigin='anonymous'
    )
  body
    != partial('_header', { relRoot: relRoot })
    .container-fluid
      ul.list-group
        - each key in Object.keys(current)
          li.list-group-item.clearfix
            .row
              .col-md-2.text-muted #{key}
              .col-md-10 #{current[key]}
      ul.list-group
        - props = {title:title,description:description,keywords:keywords}
        - each key in Object.keys(props)
          li.list-group-item.clearfix
            .row
              .col-md-2.text-muted #{key}
              .col-md-10 #{props[key]}
      ol.breadcrumb
        li
          a(href='#')= public._data.index.category
        - store = public
        - source = current.source
        - l = current.path.length
        - each path, i in current.path
          if i < l - 1
            if l > 0
              - store = store[path]
            li
              a(href='#')= store._data[source].category
          else
            if path !== 'index'
              li
                a(href='#')= store._data[source].title
      
      != partial('_data_table')

    article.container-fluid
      != yield
